.experience
{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 14px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
  
}

.company
{
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
padding: 0em 3em;

}

.role
{
    flex: 4;
    line-height: 25px;
    padding: 0 1em;
}

.role>h3
{
    font-size: 34px;
    color: var(--sidebar-bg);
}
.role>h4
{
    color: rgb(36, 35, 35);
}

.role h2
{
    color: var(--sidebar-bg);
    font-size: 18px;
    margin-top: 1em;
    letter-spacing: 1.5px;
    font-family: Bree Serif;
}


.role>img
{
    height:120px;
    margin: 0;
    padding: 0;
}

p
{
 
}
p>ul
{
    margin: 1em 0em;
}
p>ul>li
{
    color: rgb(20, 4, 4);
    line-height: 15px;
    margin-top: 0.5em;
    list-style: none;

}

p>ul>li::before
{
    content: ' ';
}



@media screen and ((max-width: 1000px) ) {
 
    .company
    {
        height: 92%;
        overflow: scroll;
        padding: 1em 0.5em;
        align-items: flex-start;
    }

    
.role
{
    padding: 1em 0.5em;
    height: auto;
    width: 100%;
}

.role>h3 {
    margin-top: -10px;
    font-size: 26px;
    color: var(--sidebar-bg);
}
.role>h4 {
    
    font-size: 14px;
    
}

.role h2 {
     font-size: 16px;
}

.project p
{
    text-align: justify;

    line-height: 18px;
}

}


@media screen and ((max-width: 800px) ) {
 
    .company
    {
        height: 80%;
        overflow: scroll;
        padding: 1em 0.5em;
        align-items: flex-start;
    }
}